/__pycache__
/data
/LibriSpeech
/save
dev-clean-tar.gz
dev-clean.tsv
dev-other.tat.gz
fbank80.zip
spm_unigram10000.model
spm_unigram10000.txt
spm_unigram10000.vocab
test-clean.tat.gz
test-clean.tsv
test-other.tar.gz
train-clean-100.tsv
train-clean-100.tar.gz
librispeech_vocab_unigram10000.zip
dev-clean.tar.gz
dev-other.tar.gz
test-clean.tar.gz
librispeech_transformer_l.pt
librispeech_transformer_m.pt
librispeech_transformer_s.pt